@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
    --white-color: #FFFCF9;
    --blue-color: #26547C;
    --dark-green-color: #062726;
    --neon-color: #6BD425;
    --gray-color: #DADFF7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all .20s ease;
}

/* Grid Layout */

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 320px repeat(2, 1fr);
    grid-template-rows: 190px repeat(2, 1fr);
    grid-template-areas: 
    "sidebar header header"
    "sidebar main-content main-content"
    "sidebar main-content main-content";
}

.sidebar {
    background-color: var(--dark-green-color);
    grid-area: sidebar;
}

.header {
    background-color: var(--white-color);
    grid-area: header;
}

.main-content {
    background-color: var(--gray-color);
    grid-area: main-content;
}

/* Sidebar Styles */

.sidebar {
    color: var(--white-color);
    display: grid;
    grid-template-rows: 80px 1fr;
    gap: 40px;
    font-size: 1.3rem;
}

section {
    align-self: center;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .mdi-exit-to-app {
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

section a {
    font-weight: 800;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white-color);
    display: flex;
    gap: 20px;
}

nav {
    align-self: start;
    display: grid;
    gap: 60px;
    margin: 0 20px;
}

ul {
    list-style: none;
    display: grid;
    gap: 10px;
}

li a {
    font-weight: 500;
    color: var(--white-color);
    text-decoration: none;
    display: flex;
    gap: 20px;
}

li a:hover, section a:hover {
    color: var(--neon-color);
}

/* Header Styles */

header {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    margin: 5px 20px;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.left-column {
    flex: 2;
    flex-shrink: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.left-column .mdi, .right-column .mdi {
    font-size: 1.5rem;
    cursor: pointer;
}

.left-column .mdi:hover, .right-column .mdi:hover {
    color: var(--neon-color);
}

input[type="text"] {
    outline: none;
    border: none;
    background-color: var(--gray-color);
    border-radius: 20px;
    width: 100%;
    font-weight: 400;
    color: var(--dark-green-color);
    height: 30px;
    padding: 0 20px
}

.right-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.right-column .small-img {
    vertical-align: middle;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    cursor: pointer;
}

.right-column a {
    text-decoration: none;
    color: var(--dark-green-color);
    font-weight: 700;
    font-size: 1rem;
}

.right-column .mdi-menu {
    display: none;
    color: var(--dark-green-color);
    cursor: pointer;
}

/*  */
.left-column, .right-column {
    border: 1px solid black;
}
/*  */

.second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.left-column .big-img {
    vertical-align: middle;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    cursor: pointer;
}

.left-column .small-txt {
    font-size: 0.8rem;
    font-weight: 700;
}

.left-column .big-txt {
    font-size: 1.3rem;
    font-weight: 700;
}

.right-column button {
    font-size: 1rem;
    font-weight: 500;
    width: 80px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: var(--white-color);
    background-color: var(--neon-color);
    cursor: pointer;
}

.right-column button:hover {
    color: var(--neon-color);
    background-color: var(--white-color);
    border: 2px solid var(--neon-color);
}




/* Media Queries */

@media (max-width: 1000px) {
    /* body {
        grid-template-areas: 
        "header header header"
        "main-content main-content main-content"
        "main-content main-content main-content";
        position: relative;
    } */

    /* .sidebar {
        position: absolute;
        top: 0;
        right: 0;
        width: 320px;
        min-height: 100vh;
    } */

    /* .right-column .mdi-menu {
        display: inline;
    } */
}