@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
    --white-color: #FFFCF9;
    --blue-color: #26547C;
    --dark-green-color: #062726;
    --neon-color: #6BD425;
    --gray-color: #DADFF7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all .20s ease;
}

/* Grid Layout */

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 320px repeat(2, 1fr);
    grid-template-rows: 190px repeat(2, 1fr);
    grid-template-areas: 
    "sidebar header header"
    "sidebar main-content main-content"
    "sidebar main-content main-content";
}

.sidebar {
    background-color: var(--dark-green-color);
    grid-area: sidebar;
}

.header {
    background-color: var(--white-color);
    grid-area: header;
}

.main-content {
    background-color: var(--gray-color);
    grid-area: main-content;
}

/* Sidebar Styles */

.sidebar {
    color: var(--white-color);
    display: grid;
    grid-template-rows: 80px 1fr;
    gap: 40px;
    font-size: 1.3rem;
}

section {
    align-self: center;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .mdi-exit-to-app {
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}

section a {
    font-weight: 800;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white-color);
    display: flex;
    gap: 20px;
}

nav {
    align-self: start;
    display: grid;
    gap: 60px;
    margin: 0 20px;
}

ul {
    list-style: none;
    display: grid;
    gap: 10px;
}

li a {
    font-weight: 500;
    color: var(--white-color);
    text-decoration: none;
    display: flex;
    gap: 20px;
}

li a:hover, section a:hover {
    color: var(--neon-color);
}

.mobile-feature {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.search-function {
    display: flex;
    gap: 20px;
}

.mobile-feature li span {
    font-size: 1.5rem;
}

.mobile-feature li input {
    width: 100%;
}

.mobile-feature li button {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 0;
    border-radius: 20px;
    color: var(--white-color);
    background-color: var(--neon-color);
    border: none;
}

.mobile-feature li button:hover {
    color: var(--neon-color);
    background-color: var(--dark-green-color);
    outline: 1px solid var(--neon-color);
}

/* Header Styles */

header {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    margin: 5px 20px;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.left-column {
    flex: 2;
    flex-shrink: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.left-column .mdi, .right-column .mdi {
    font-size: 1.5rem;
    cursor: pointer;
}

.left-column .mdi:hover, .right-column .mdi:hover {
    color: var(--neon-color);
}

input[type="text"] {
    outline: none;
    border: none;
    background-color: var(--gray-color);
    border-radius: 20px;
    width: 100%;
    font-weight: 400;
    color: var(--dark-green-color);
    height: 30px;
    padding: 0 20px
}

.right-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.right-column .small-img {
    vertical-align: middle;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    cursor: pointer;
}

.right-column a {
    text-decoration: none;
    color: var(--dark-green-color);
    font-weight: 700;
    font-size: 1rem;
}

.right-column .mdi-menu {
    display: none;
    color: var(--dark-green-color);
    cursor: pointer;
}

.right-column .mdi-menu:hover {
    color: var(--neon-color);
}

.second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.left-column .big-img {
    vertical-align: middle;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    cursor: pointer;
}

.left-column .small-txt {
    font-size: 0.8rem;
    font-weight: 700;
}

.left-column .big-txt {
    font-size: 1.3rem;
    font-weight: 700;
}

.right-column button {
    font-size: 1rem;
    font-weight: 500;
    width: 80px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: var(--white-color);
    background-color: var(--neon-color);
    cursor: pointer;
}

.right-column button:hover {
    color: var(--neon-color);
    background-color: var(--white-color);
    outline: 2px solid var(--neon-color);
}

/* Main Content Styles */

main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "projects projects announcements"
    "projects projects trending";
}

.projects {
    grid-area: projects;
    background-color: var(--white-color);
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
}

.card-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.card {
    width: 100%;
    border: 2px solid var(--neon-color);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    background-color: var(--white-color);
}

.card:hover {
    scale: 1.1;
}

.card-icon-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.card-icon-container .mdi {
    font-size: 1.5rem;
    cursor: pointer;
}

.card-icon-container .mdi:hover {
    color: var(--neon-color);
}

.announcements {
    grid-area: announcements;
    background-color: var(--white-color);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.news-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.news {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--neon-color);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--white-color);
}

.news:hover {
    scale: 1.1;
}

.trending {
    grid-area: trending;
    background-color: var(--white-color);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.trend-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.trend {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid var(--neon-color);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--white-color);
}

.trend:hover {
    scale: 1.1;
}

.trend-img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.text-container {
    font-size: 1rem;
}

.text-container .bold, .bold {
    font-weight: bold;
}

/* Media Queries */

@media (max-width: 1160px) {
    main {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr repeat(2,1fr);
        grid-template-areas: 
        "projects"
        "announcements"
        "trending";
    }
}

@media (max-width: 1000px) {
    body {
        grid-template-areas: 
        "header header header"
        "main-content main-content main-content"
        "main-content main-content main-content";
        position: relative;
    }

    .sidebar {
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        width: 320px;
        min-height: 100%;
    }

    .right-column .mdi-menu {
        display: block;
    }

    section .mdi-exit-to-app {
        display: block;
    }
}

@media (max-width: 669px) {
    .mobile-feature {
        display: flex;
    }

    .second-row .right-column {
        display: none;
    }

    .first-row .right-column a {
        display: none;
    }
}

@media (max-width: 429px) {
    .first-row .left-column {
        display: none;
    }

    .first-row {
        justify-content: flex-end;
    }
}

@media (max-width: 350px) {

    .second-row {
        display: none;
    }

    body {
        grid-template-rows: 100px repeat(2, 1fr);
    }

    header {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr;
    }
}